In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 13.3 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 12.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [58]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://DANsky21_21:DANsky21_21@cluster0.jr3ue.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [59]:
# 2. Complex Filtering and Querying
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('672f3ee2865175b6541751b2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672f3ee2865175b6541751b3'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [60]:
#Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.
for courseMath in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(courseMath)

{'_id': ObjectId('672f3ee2865175b6541751b2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672f3ee2865175b6541751b3'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [61]:
# 3. Aggregation Framework for Data Analysis
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Physics', 'average_enrollment': 15.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'History', 'average_enrollment': 20.0}

In [62]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Physics', 'max_enrollment': 15}

In [63]:
# 4. Data Transformation using $project and $addFields
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672f3ee2865175b6541751b2'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672f3ee2865175b6541751b3'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672f3ee2865175b6541751b4'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('672f3ee2865175b6541751b5'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [64]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672f3ee2865175b6541751b2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672f3ee2865175b6541751b3'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672f3ee2865175b6541751b4'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('672f3ee2865175b6541751b5'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

In [65]:
#Homework 1: Perform an aggregation to get a count of courses per department.
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'course_count': 1}
{'_id': 'Computer Science', 'course_count': 1}
{'_id': 'Physics', 'course_count': 1}
{'_id': 'Mathematics', 'course_count': 1}

In [66]:
#Menambahkan data pada department Computer Science
courses = [
    {'course': 'CS 103', 'enrollments': 30, 'department': 'Computer Science'},
    {'course': 'CS 104', 'enrollments': 35, 'department': 'Computer Science'},
    {'course': 'CS 105', 'enrollments': 40, 'department': 'Computer Science'}
]

result = courses_collection.insert_many(courses)
print('Courses inserted successfully')

Courses inserted successfully

In [75]:
from pymongo import MongoClient

# Terhubung ke klien MongoDB Anda
client = MongoClient('mongodb+srv://DANsky21_21:DANsky21_21@cluster0.jr3ue.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['university_db']
students_collection = db['students']

# Daftar data siswa
students_data = [
    {"name": "Jane Doe", "enrolled_courses": ["Math 101", "CS 102", "CS 105"]},
    {"name": "Anbi", "enrolled_courses": ["Physics 202", "Math 101", "CS 104"]},
    {"name": "Loki", "enrolled_courses": ["CS 102", "History 201", "CS 104"]},
    {"name": "Eren", "enrolled_courses": ["Math 101", "Physics 202", "CS 103"]},
    {"name": "Ipin", "enrolled_courses": ["History 201", "CS 102", "CS 105"]},
    {"name": "David Mason", "enrolled_courses": ["Math 101", "History 201", "CS 104"]},
    {"name": "Salazar", "enrolled_courses": ["Physics 202", "CS 102"]},
    {"name": "Jin Kaxzama", "enrolled_courses": ["History 201", "Math 101", "CS 103"]},
    {"name": "Lucy", "enrolled_courses": ["CS 102", "Physics 202", "CS 105"]},
    {"name": "Nakamura", "enrolled_courses": ["Math 101", "History 201"]}
]

# Menyisipkan data siswa ke dalam koleksi
students_collection.insert_many(students_data)
print('Data siswa berhasil dimasukkan.')

Data siswa berhasil dimasukkan.

In [78]:
#Homework 2: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$course', 'total_enrollments': {'$sum': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'CS 104', 'total_enrollments': 35}
{'_id': 'CS 105', 'total_enrollments': 40}
{'_id': 'CS 103', 'total_enrollments': 30}

In [79]:
#Homework 3: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.
# Apply $lookup to join courses collection with students collection based on student enrollments.
pipeline = [
    {'$lookup': {'from': 'students', 'localField': 'course', 'foreignField': 'enrolled_courses', 'as': 'enrolled_students'}},
    { '$project': {'course': 1, 'department': 1, 'enrollments': 1, 'enrolled_students': {'$map': {'input': '$enrolled_students', 'as': 'student', 'in': '$$student.name'}}}}
]

for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672f3ee2865175b6541751b2'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrolled_students': ['Jane Doe', 'Anbi', 'Eren', 'David Mason', 'Jin Kaxzama', 'Nakamura']}
{'_id': ObjectId('672f3ee2865175b6541751b3'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrolled_students': ['Jane Doe', 'Loki', 'Ipin', 'Salazar', 'Lucy']}
{'_id': ObjectId('672f3ee2865175b6541751b4'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrolled_students': ['Loki', 'Ipin', 'David Mason', 'Jin Kaxzama', 'Nakamura']}
{'_id': ObjectId('672f3ee2865175b6541751b5'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrolled_students': ['Anbi', 'Eren', 'Salazar', 'Lucy']}
{'_id': ObjectId('672f3f10865175b6541751b6'), 'course': 'CS 103', 'enrollments': 30, 'department': 'Computer Science', 'enrolled_students': ['Eren', 'Jin Kaxzama']}
{'_id': ObjectId('672f3f10865175b6541751b7'), 'course': 'CS 104', 'enrollments': 35, 'department': 'Computer Science', 'enrolled_students': ['Anbi', 'Loki', 'David Mason']}
{'_id': ObjectId('672f3f10865175b6541751b8'), 'course': 'CS 105', 'enrollments': 40, 'department': 'Computer Science', 'enrolled_students': ['Jane Doe', 'Ipin', 'Lucy']}