In [5]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 20.5 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 20.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [6]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://DANsky21_21:DANsky21_21@cluster0.jr3ue.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['company_db']
employee_collection = db['employees']

print('Connected to MongoDB')

Connected to MongoDB

In [10]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
employee_collection.insert_one(employee_data)
print('Data inserted')

Data inserted

In [11]:
#Melakukan insert beberapa data

employee_data = [
    {'nama': 'David', 'departement': 'IT', 'age': 20, 'salary': 4400},
    {'nama': 'Divad', 'departement': 'IT', 'age': 20, 'salary': 4300},
    {'nama': 'Nugroho', 'departement': 'Finance', 'age': 25, 'salary': 5000},
    {'nama': 'Andrey', 'departement': 'Marketing', 'age': 30, 'salary': 5500},
    {'nama': 'Isagi', 'departement': 'HR', 'age': 28, 'salary': 4900},
    {'nama': 'Nagi', 'departement': 'IT', 'age': 27, 'salary': 6000},
    {'nama': 'Paulo', 'departement': 'Design', 'age': 22, 'salary': 4750},
    {'nama': 'Mayang', 'departement': 'Finance', 'age': 26, 'salary': 5200},
    {'nama': 'Sinta', 'departement': 'Marketing', 'age': 24, 'salary': 5300},
    {'nama': 'Lina', 'departement': 'HR', 'age': 29, 'salary': 5150},
    {'nama': 'Eko', 'departement': 'IT', 'age': 23, 'salary': 4000},
    {'nama': 'Niko', 'departement': 'Design', 'age': 31, 'salary': 5000},
    {'nama': 'Antony', 'departement': 'Finance', 'age': 35, 'salary': 5500},
    {'nama': 'Putri', 'departement': 'Marketing', 'age': 22, 'salary': 4800},
    {'nama': 'Darmawan', 'departement': 'HR', 'age': 20, 'salary': 4900}
]

# Menambahkan 15 data sekaligus
employee_collection.insert_many(employee_data)
print('data inserted')

data inserted

In [12]:
# Melakukan update data
query = {'nama': 'David'}
new_values = {'$set': {'salary': 5100}}
result = employee_collection.update_one(query, new_values)
print('Data David telah ter-update')

Data David telah ter-update

In [13]:
# Menghapus data
employee_collection.delete_many({'nama': 'Antony'})
print('Data Antony sudah dihapus')

Data Antony sudah dihapus

In [14]:
# Contoh Query Data
print("\nDaftar karyawan yang ada dalam koleksi:")
for employee in employee_collection.find():
    print(employee)

Daftar karyawan yang ada dalam koleksi:
{'_id': ObjectId('672772ba954e840f3035c05c'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672772bd954e840f3035c05d'), 'nama': 'David', 'departement': 'IT', 'age': 20, 'salary': 5100}
{'_id': ObjectId('672772bd954e840f3035c05e'), 'nama': 'Divad', 'departement': 'IT', 'age': 20, 'salary': 4300}
{'_id': ObjectId('672772bd954e840f3035c05f'), 'nama': 'Nugroho', 'departement': 'Finance', 'age': 25, 'salary': 5000}
{'_id': ObjectId('672772bd954e840f3035c060'), 'nama': 'Andrey', 'departement': 'Marketing', 'age': 30, 'salary': 5500}
{'_id': ObjectId('672772bd954e840f3035c061'), 'nama': 'Isagi', 'departement': 'HR', 'age': 28, 'salary': 4900}
{'_id': ObjectId('672772bd954e840f3035c062'), 'nama': 'Nagi', 'departement': 'IT', 'age': 27, 'salary': 6000}
{'_id': ObjectId('672772bd954e840f3035c063'), 'nama': 'Paulo', 'departement': 'Design', 'age': 22, 'salary': 4750}
{'_id': ObjectId('672772bd954e840f3035c064'), 'nama': 'Mayang', 'departement': 'Finance', 'age': 26, 'salary': 5200}
{'_id': ObjectId('672772bd954e840f3035c065'), 'nama': 'Sinta', 'departement': 'Marketing', 'age': 24, 'salary': 5300}
{'_id': ObjectId('672772bd954e840f3035c066'), 'nama': 'Lina', 'departement': 'HR', 'age': 29, 'salary': 5150}
{'_id': ObjectId('672772bd954e840f3035c067'), 'nama': 'Eko', 'departement': 'IT', 'age': 23, 'salary': 4000}
{'_id': ObjectId('672772bd954e840f3035c068'), 'nama': 'Niko', 'departement': 'Design', 'age': 31, 'salary': 5000}
{'_id': ObjectId('672772bd954e840f3035c06a'), 'nama': 'Putri', 'departement': 'Marketing', 'age': 22, 'salary': 4800}
{'_id': ObjectId('672772bd954e840f3035c06b'), 'nama': 'Darmawan', 'departement': 'HR', 'age': 20, 'salary': 4900}

In [24]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$departement', 'average_salary': {'$avg': '$salary'}}}
]
result = employee_collection.aggregate(pipeline)
for item in result:
    print(item)

{'_id': None, 'average_salary': 4500.0}
{'_id': 'IT', 'average_salary': 4850.0}
{'_id': 'Marketing', 'average_salary': 5200.0}
{'_id': 'Design', 'average_salary': 4875.0}
{'_id': 'Finance', 'average_salary': 5100.0}
{'_id': 'HR', 'average_salary': 4983.333333333333}

In [25]:
#Latihan 4.1: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://DANsky21_21:DANsky21_21@cluster0.jr3ue.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['Toko_Dapid']
product_collection = db['products']


products = [
    {'name': 'Laptop', 'category': 'Electronics', 'price': 1000, 'quantity': 5},
    {'name': 'Smartphone', 'category': 'Electronics', 'price': 700, 'quantity': 10},
    {'name': 'Headphones', 'category': 'Electronics', 'price': 150, 'quantity': 20},
    {'name': 'Chair', 'category': 'Furniture', 'price': 85, 'quantity': 15},
    {'name': 'Table', 'category': 'Furniture', 'price': 120, 'quantity': 8},
    {'name': 'Watch', 'category': 'Accessories', 'price': 300, 'quantity': 12},
    {'name': 'Shoes', 'category': 'Footwear', 'price': 60, 'quantity': 25},
    {'name': 'T-shirt', 'category': 'Clothing', 'price': 25, 'quantity': 50},
    {'name': 'Jeans', 'category': 'Clothing', 'price': 40, 'quantity': 30},
    {'name': 'Coffee Maker', 'category': 'Appliances', 'price': 100, 'quantity': 7},
    {'name': 'Keyboard', 'category': 'Electronics', 'price': 200, 'quantity': 14},
    {'name': 'Backpack', 'category': 'Accessories', 'price': 40, 'quantity': 18},
    {'name': 'Notebook', 'category': 'Stationery', 'price': 5, 'quantity': 100},
    {'name': 'Pen', 'category': 'Stationery', 'price': 1, 'quantity': 200},
    {'name': 'Desk Lamp', 'category': 'Furniture', 'price': 30, 'quantity': 20},
    {'name': 'Printer', 'category': 'Electronics', 'price': 150, 'quantity': 6},
    {'name': 'Monitor', 'category': 'Electronics', 'price': 200, 'quantity': 10},
    {'name': 'Gaming Console', 'category': 'Electronics', 'price': 400, 'quantity': 8},
    {'name': 'Tablet', 'category': 'Electronics', 'price': 300, 'quantity': 12},
    {'name': 'Mouse', 'category': 'Electronics', 'price': 25, 'quantity': 30},
    {'name': 'Graphic Card', 'category': 'Electronics', 'price': 600, 'quantity': 5}
]

# Menyisipkan data produk ke dalam koleksi
result = product_collection.insert_many(products)
print(f"Jumlah produk yang dimasukkan: {len(result.inserted_ids)}")

Jumlah produk yang dimasukkan: 21

In [26]:
for product in product_collection.find({}):
    print(product)

{'_id': ObjectId('67277483954e840f3035c06e'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1000, 'quantity': 5}
{'_id': ObjectId('67277483954e840f3035c06f'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 700, 'quantity': 10}
{'_id': ObjectId('67277483954e840f3035c070'), 'name': 'Headphones', 'category': 'Electronics', 'price': 150, 'quantity': 20}
{'_id': ObjectId('67277483954e840f3035c071'), 'name': 'Chair', 'category': 'Furniture', 'price': 85, 'quantity': 15}
{'_id': ObjectId('67277483954e840f3035c072'), 'name': 'Table', 'category': 'Furniture', 'price': 120, 'quantity': 8}
{'_id': ObjectId('67277483954e840f3035c073'), 'name': 'Watch', 'category': 'Accessories', 'price': 300, 'quantity': 12}
{'_id': ObjectId('67277483954e840f3035c074'), 'name': 'Shoes', 'category': 'Footwear', 'price': 60, 'quantity': 25}
{'_id': ObjectId('67277483954e840f3035c075'), 'name': 'T-shirt', 'category': 'Clothing', 'price': 25, 'quantity': 50}
{'_id': ObjectId('67277483954e840f3035c076'), 'name': 'Jeans', 'category': 'Clothing', 'price': 40, 'quantity': 30}
{'_id': ObjectId('67277483954e840f3035c077'), 'name': 'Coffee Maker', 'category': 'Appliances', 'price': 100, 'quantity': 7}
{'_id': ObjectId('67277483954e840f3035c078'), 'name': 'Keyboard', 'category': 'Electronics', 'price': 200, 'quantity': 14}
{'_id': ObjectId('67277483954e840f3035c079'), 'name': 'Backpack', 'category': 'Accessories', 'price': 40, 'quantity': 18}
{'_id': ObjectId('67277483954e840f3035c07a'), 'name': 'Notebook', 'category': 'Stationery', 'price': 5, 'quantity': 100}
{'_id': ObjectId('67277483954e840f3035c07b'), 'name': 'Pen', 'category': 'Stationery', 'price': 1, 'quantity': 200}
{'_id': ObjectId('67277483954e840f3035c07c'), 'name': 'Desk Lamp', 'category': 'Furniture', 'price': 30, 'quantity': 20}
{'_id': ObjectId('67277483954e840f3035c07d'), 'name': 'Printer', 'category': 'Electronics', 'price': 150, 'quantity': 6}
{'_id': ObjectId('67277483954e840f3035c07e'), 'name': 'Monitor', 'category': 'Electronics', 'price': 200, 'quantity': 10}
{'_id': ObjectId('67277483954e840f3035c07f'), 'name': 'Gaming Console', 'category': 'Electronics', 'price': 400, 'quantity': 8}
{'_id': ObjectId('67277483954e840f3035c080'), 'name': 'Tablet', 'category': 'Electronics', 'price': 300, 'quantity': 12}
{'_id': ObjectId('67277483954e840f3035c081'), 'name': 'Mouse', 'category': 'Electronics', 'price': 25, 'quantity': 30}
{'_id': ObjectId('67277483954e840f3035c082'), 'name': 'Graphic Card', 'category': 'Electronics', 'price': 600, 'quantity': 5}

In [28]:
#Latihan 4.2 : Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

# Menghitung harga rata-rata produk
pipeline = [{'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}]
average_price_result = list(product_collection.aggregate(pipeline))
average_price = average_price_result[0]['average_price'] if average_price_result else 0

print(f"Harga rata-rata produk: {average_price}")

# Mencari produk dengan harga di atas rata-rata
high_price_products = product_collection.find({'price': {'$gt': average_price}})
print("Produk dengan harga di atas rata-rata:")
for product in high_price_products:
    print(product)

Harga rata-rata produk: 215.76190476190476
Produk dengan harga di atas rata-rata:
{'_id': ObjectId('67277483954e840f3035c06e'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1000, 'quantity': 5}
{'_id': ObjectId('67277483954e840f3035c06f'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 700, 'quantity': 10}
{'_id': ObjectId('67277483954e840f3035c073'), 'name': 'Watch', 'category': 'Accessories', 'price': 300, 'quantity': 12}
{'_id': ObjectId('67277483954e840f3035c07f'), 'name': 'Gaming Console', 'category': 'Electronics', 'price': 400, 'quantity': 8}
{'_id': ObjectId('67277483954e840f3035c080'), 'name': 'Tablet', 'category': 'Electronics', 'price': 300, 'quantity': 12}
{'_id': ObjectId('67277483954e840f3035c082'), 'name': 'Graphic Card', 'category': 'Electronics', 'price': 600, 'quantity': 5}

In [69]:
#Latihan 4.3 : Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]
result = product_collection.aggregate(pipeline)
for item in result:
    print(item)

{'_id': 'Electronics', 'total_products': 10}
{'_id': 'Clothing', 'total_products': 2}
{'_id': 'Stationery', 'total_products': 2}
{'_id': 'Accessories', 'total_products': 2}
{'_id': 'Furniture', 'total_products': 3}
{'_id': 'Footwear', 'total_products': 1}
{'_id': 'Appliances', 'total_products': 1}

In [127]:
#5 TUGAS
#Tugas 1 : Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
pipeline = [
    {
        '$sort': {'departement': 1, 'salary': -1}  # Urutkan berdasarkan departemen dan gaji tertinggi
    },
    {
        '$group': {
            '_id': '$departement',  # Kelompokkan berdasarkan departemen
            'employees': {'$push': {'name': '$nama', 'salary': '$salary'}}  # Simpan karyawan dalam array
        }
    },
    {
        '$project': {
            'department': '$_id',  # Mengatur nama departemen
            'topEmployees': {'$slice': ['$employees', 5]}  # Ambil 5 karyawan teratas
        }
    }
]

# Menjalankan pipeline aggregation
result = employee_collection.aggregate(pipeline)

# Menampilkan hasil
for doc in result:
    print(f"Departemen: {doc['department']}, 5 Karyawan Teratas: {doc['topEmployees']}")

In [123]:
#Tugas 2 : Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
query = {'age': {'$lt': 25}}

# Menghapus karyawan yang memenuhi kriteria
result = employee_collection.delete_many(query)
print(f'Jumlah karyawan yang dihapus: {result.deleted_count}')

Jumlah karyawan yang dihapus: 7

In [124]:
for employee in employee_collection.find():
    print(employee)

{'_id': ObjectId('672713aea7ceac8ca8f34de4'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('672713f5a7ceac8ca8f34de7'), 'nama': 'Nugroho', 'departement': 'Finance', 'age': 25, 'salary': 5000}
{'_id': ObjectId('672713f5a7ceac8ca8f34de8'), 'nama': 'Andrey', 'departement': 'Marketing', 'age': 30, 'salary': 5500}
{'_id': ObjectId('672713f5a7ceac8ca8f34de9'), 'nama': 'Isagi', 'departement': 'HR', 'age': 28, 'salary': 4900}
{'_id': ObjectId('672713f5a7ceac8ca8f34dea'), 'nama': 'Nagi', 'departement': 'IT', 'age': 27, 'salary': 6000}
{'_id': ObjectId('672713f5a7ceac8ca8f34dec'), 'nama': 'Mayang', 'departement': 'Finance', 'age': 26, 'salary': 5200}
{'_id': ObjectId('672713f5a7ceac8ca8f34dee'), 'nama': 'Lina', 'departement': 'HR', 'age': 29, 'salary': 5150}
{'_id': ObjectId('672713f5a7ceac8ca8f34df0'), 'nama': 'Niko', 'departement': 'Design', 'age': 31, 'salary': 5000}

In [125]:
#Tugas 3 : Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.
pipeline = [
    {
        '$group': {
            '_id': '$departement',
            'total_salary': {'$sum': '$salary'},
            'average_age': {'$avg': '$age'}
        }
    }
]
result = employee_collection.aggregate(pipeline)
for item in result:
    print(item)

{'_id': 'Marketing', 'total_salary': 5500, 'average_age': 30.0}
{'_id': 'HR', 'total_salary': 10050, 'average_age': 28.5}
{'_id': 'Finance', 'total_salary': 10200, 'average_age': 25.5}
{'_id': 'IT', 'total_salary': 6000, 'average_age': 27.0}
{'_id': 'Design', 'total_salary': 5000, 'average_age': 31.0}
{'_id': None, 'total_salary': 4500, 'average_age': 29.0}

In [8]:
employee_collection.delete_many({})
print('Data Antony sudah dihapus')

Data Antony sudah dihapus